<div class="dropdown-container">
    <select [(ngModel)]="selectedCountry" (change)="onCountryChange()" class="dropdown">
      <option value="" disabled selected>Select Country</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
  
    <select [(ngModel)]="selectedState" (change)="onStateChange()" *ngIf="states.length > 0" class="dropdown">
      <option value="" disabled selected>Select State</option>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  
    <select *ngIf="cities.length > 0" class="dropdown">
      <option value="" disabled selected>Select City</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  