<div class="row marginlittle">
    <div class="col-md-6 topform">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Skills</h4>
                <p class="card-category">Add new Skills here</p>
            </div>
            <div class="card-body">
                <form #skillsForm="ngForm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IndustryId">IndustryId:</label>
                            <input type="text" [(ngModel)]="skills.IndustryId" class="form-control" name="IndustryId" placeholder="Enter IndustryId" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Title">Title:</label>
                            <input type="text" [(ngModel)]="skills.Title" class="form-control" name="Title" placeholder="Enter Title" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Description">Description:</label>
                            <input type="text" [(ngModel)]="skills.Description" class="form-control" name="Description" placeholder="Enter Description" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CertificateStatus">CertificateStatus:</label>
                            <input type="text" [(ngModel)]="skills.CertificateStatus" class="form-control" name="CertificateStatus" placeholder="Enter CertificateStatus" required>
                        </div>
                    </div>
                   
                  
                  
                
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right"(click)="OnSubmit()">update</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
  

