<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-14">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">userdetaillist</h4>
                        <p class="card-category"> View here all DemoList table record</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary" style="background-color: #ea48441c;">
                                   
                                   
                                    <th>Photo</th>
                                     <th>PDF</th>
                                    <th>Action </th>
                                        
                                   
                              
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of DemoList">
                                        <td><img src="{{imgPath}}Content/DemoImage/{{i.Photo}}" style="height: 80px;width: 80px;"></td>
                                        <td> <img src="{{imgPath}}Content/DemoPDF/{{i.PDF}}" style="height: 80px;width: 80px;"></td>
                                        
                                        
                                        <!-- <td> <img src="{{imgPath}}Content/Demo/{{i.Photo}}" style="height: 80px;width: 80px;"></td> -->
                                        <!-- <td>{{i.Categorized}}</td>
                                        <td>{{i.PostBy}}</td> -->
                                        <!-- <td>{{i.Sectiontwo}}</td> -->
                                        
                                        <td><i class="fa fa-pencil-square iconaction"(click)="Edit(i.DemoId)"  aria-hidden="true"></i>
                                            &nbsp;   <i class="fa fa-eye iconaction" (click)="View(i.DemoId)" aria-hidden="true"></i>
                                             &nbsp; <i class="fa fa-trash iconaction"(click)="Delete(i.DemoId)" aria-hidden="true"></i>
                                        </td>
                                    </tr>    
                                                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
  </div>

